*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 209, 209);
    width: 500px;
    border-radius: 5px;
    
}
.boxes{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.baddo{
    width: 400px;
    height: 350px;
    border-radius: 5px;
}
.details h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.abt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 300px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.previous{
    width: 30px;
    height: 30px;
    /* background-color: black; */
}
.previous-div{
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next{
    width: 30px;
    height: 30px;
}
.next-div{
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    display: flex;
    gap: 50px;
}
