*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculate-area{
    /* background-color: rgba(125, 118, 118, 0.82); */
    background-color: black;
    width: 340px;
    height: 330px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
}
.button-area{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.area{
    width: 305px;
    height: 60px;
    /* background-color: rgb(225, 237, 224); */
    background-color: white;
    border: 0.3px solid rgb(164, 158, 158);
    border-radius: 8px;
    padding: 30px;
    font-size: 25px;
}
.btn button{
    width: 72px;
    height: 40px;
    background-color: white;
    color: black;
    border: 0.1px solid rgb(64, 63, 63);
    border-radius: 2px;
    /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); */
}
.btnn button{
    width: 72px;
    height: 40px;
    background-color: white;
    color: black;
    border: 0.1px solid rgb(64, 63, 63);
    border-radius: 2px;
}
.buttons{
    display: flex;
    gap: 4px;
  
}
.bt button{
    width: 72px;
    height: 40px;
    color: black;
    border: 0.1px solid rgb(64, 63, 63);
    border-radius: 2px;
    color: white;
    background-color: orange;
}